body {
    background-color: white;
}

#profilePicture {
    border-radius: 100%;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 550px;
}

#profileName {
    margin-left: 575px;
    font-size: 30px;
    font-family: "times new roman";
    color: black;
}

#username {
    margin-left: 560px;
    font-size: 30px;
    font-family: "times new roman";
    color: #ff7722;
    font-weight: bold;
    margin-top: 5px;
}



.linkBox {
    border: 2px solid black;
    border-radius: 30px;
    width: 600px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 350px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #ff7722;
}

.linkText {
    text-decoration: none;
    text-align: center;
}

body {
    background-color: #ffe8c8;
}

#lastLine {
    margin-top: 40px;
    border: 2px solid #ff7722;
    border-radius: 15px;
    width: 700px;
    height: 70px;
    margin-left: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bioLine {
    margin-left: 570px;
    font-size: 20px;
    font-family: "times new roman";
    color: black;
    margin-top: 15px;
}

hr {
    background-color: #ff7722;
    height: #ff7722;
    width: 680px;
}
